.nav-item {
    text-emphasis-color: White;
    text-align: left;
    border-left-width: 0cqh;
    background: url(https://img.freepik.com/free-photo/crop-clapperboard-near-tickets-popcorn_23-2147698940.jpg?w=826&t=st=1698240471~exp=1698241071~hmac=9908bd6344982c5ed054b89725bc4656e201702747d9baeb1fe3a3d803e98ead);
}

.home-bm {
    font-family: sans-serif;
}
.navbar {
    background-color: #333; /* Background color of the navbar */
    color: #fff; /* Text color for links and text within the navbar */
    padding: 10px; /* Padding around the content within the navbar */
    display: flex; /* Display elements in a row (horizontal) */
    justify-content: space-between; /* Space items evenly */
    align-items: center;
    margin-right: 20px;
}


.nav-link {
    font-family: sans-serif;
    margin-right: 20px;
    color: white;
    text-align: justify center;
    color: whitesmoke;
    background: url(https://img.freepik.com/free-photo/crop-clapperboard-near-tickets-popcorn_23-2147698940.jpg?w=826&t=st=1698240471~exp=1698241071~hmac=9908bd6344982c5ed054b89725bc4656e201702747d9baeb1fe3a3d803e98ead);

}


.dropdown-menu {
    list-style: none; /* Remove bullet points for the list items */
    padding: 0; /* Remove default padding for the list */
    display: flex;
}

.dropdown-item {
    margin-right: 20px;
    text-decoration: #e6dede;
    color: white;
}

.dropdown-item:hover {
    background-color: whitesmoke;
    text-align: center;
}

.dropdown-toggle {
    color: #ffffff;
    font-size: 2.5rem;
    line-height: 1;
    height: 3rem;
    width: 3rem;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 200px;
    padding: 10px;
}

.navbar-inverse .navbar-nav .open dropdown-item > li > a,
.navbar-inverse .navbar-nav .open dropdown-item > li > a:visited {
  color: white;
}

.a,
nav-item {
  color: white;
}

.navbar {
  opacity: 0.7;
}
