.home-page {
    color: var(--bs-gray-800);
    background-color: var(--bs-gray-100);
    border: 1px solid var(--bs-gray-200);
    border-radius: .25rem;
}


body {
    background-color: #045d07;
    font-family: Arial, sans-serif;
}

.card-list {
    perspective: 1000px;
}

.card-list > div {
    animation: tornado3D 0.35s;
}

.movie {
    color: rgb(215, 199, 199);
}
