*{
    box-sizing: border-box;
    margin: 0;
    text-decoration: aliceblue;
}

.div {
    text-decoration: aliceblue;
}
.search_nav {
    text-decoration: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search_box {
    display: flex;
    align-items: center;
}

.home-page {
    text-decoration: aliceblue;
    padding: 1.5rem;
    background-color: #536449;
    background: url(https://img.freepik.com/free-photo/crop-clapperboard-near-tickets-popcorn_23-2147698940.jpg?w=826&t=st=1698240471~exp=1698241071~hmac=9908bd6344982c5ed054b89725bc4656e201702747d9baeb1fe3a3d803e98ead) ;
}

.title {
    padding-right: 3rem;
    color: black;
    margin-bottom: 1.1rem;
    text-decoration: underline;
}

.movie {
    color: rgb(215, 199, 199);
}

.movies {
    text-decoration: aliceblue;
    display: flex;
    flex-wrap: wrap;

}

.search_box input {
    border: 0;
    outline: 0;
    margin-right: 0.1rem;
    padding: 0.2rem;
    border-radius: 1rem;
 }

 .search_box button {
    border: 0;
    outline: 0;
    background-color: white;
    padding: 0.2rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
 }
 .search_box button:hover {
    background-color: #2aac55;
 }
