.sign-up{
    font-size: 50px;
    color: #a01c1c;
    -webkit-text-stroke: 0.3px rgb(255, 255, 255);
}

.text-end{
  color: #ffff;
  padding-left: 70px;
  text-align: center;
  -webkit-text-stroke: 5px #0000;
}

.text-center{
    color: #ffff;
    -webkit-text-stroke: 15px #0000;
}
.password{
  color: #b81616bb;
}
